{% load i18n %}
{% load render_bundle from webpack_loader %}
{% load bootstrap4 %}
{% load partitialajax %}


{% render_bundle "userarea_publickey_form_field_key_group" "css" %}


<div class="form-group">
    {% bootstrap_label form.key_group.label %}

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <a class="btn btn-outline-secondary userarea-key-group-create-button" href="{% url "userarea:key_group:create" %}" data-toggle="modal" data-target="#baseModal">
                {% trans "Neu Erstellen" %}
            </a>
        </div>
        {{ form.key_group }}
    </div>
</div>

{% render_bundle "userarea_publickey_form_field_key_group" "js" %}
