{% load i18n %}
{% load render_bundle from webpack_loader %}

{% for key in object_list %}
    <tr>
        <td>{{ key.pk }}</td>
        <td>{{ key.device.display_name }}</td>
        <td>{{ key.get_all_group_names|join:" " }}</td>
        <td>{{ key.name }}</td>
        <td><code>{{ key.fingerprint }}</code></td>
        <td>
            <div class="btn-group btn-group-sm">
                <a href="{% url "userarea:publickey:update" key.pk %}" class="btn btn-info publickey-detail-button"><i class="fas fa-eye"></i></a>
                <a href="{% url "userarea:publickey:delete" key.pk %}" class="btn btn-danger publickey-delete-button"><i class="fas fa-trash"></i></a>
            </div>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="5" class="text-center">
            {% trans "Publickey list is Empty" %}
        </td>
    </tr>
{% endfor %}