{% load i18n %}
{% load bootstrap4 %}


<div class="modal-header">
    <h4 class="modal-title">{% trans "Delete Device" %}</h4>
</div>
<div class="modal-body">
    <p>{% trans "Do you like Realy to delete this Device?" %}</p>
    <p>{% trans "Name:" %} {{ object.display_name }}({{ object.name }})</p>
</div>
<div class="modal-footer">
    <form method="POST" action="{% url "userarea:device:delete" object.pk %}">
        {% csrf_token %}
        <a href="{% url "userarea:device:list" %}" class="btn btn-default pull-left" data-dismiss="modal">{% trans "Cancle" context "Device Delete Cancle button "%}</a>
        <button type="submit" class="btn btn-danger">{% trans "Delete" context "Device delete Button" %}</button>
    </form>
</div>