{% extends "sshmanager/page.html" %}
{% load static %}
{% load i18n %}


{% block body_outer %}
    <body class="hold-transition login-page">
        <div class="login-box">
          <div class="login-logo">
            <a href="../../index2.html"><b>Admin</b>LTE</a>
          </div>
          <!-- /.login-logo -->
          <div class="login-card-body">
            <p class="login-card-msg">Sign in to start your session</p>
            <form action="" method="post">
              {% csrf_token %}
              <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="{% trans "Username" %}" id="{{ form.username.id_for_label }}" name="{{ form.username.name }}">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
              </div>
              <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="{% trans "Passwort" %}" id="{{ form.password.id_for_label }}" name="{{ form.password.name }}">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
              </div>
              <div class="row">
                <div class="col-xs-8">
                  <div class="checkbox icheck">
                    <label>
                      <input type="checkbox"> Remember Me
                    </label>
                  </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                  <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
                <!-- /.col -->
              </div>
            </form>

            <!-- /.social-auth-links -->

            <a href="#">I forgot my password</a><br>
            <a href="register.html" class="text-center">Register a new membership</a>

          </div>
          <!-- /.login-box-body -->
        </div>
        <!-- /.login-box -->

   <script type="text/javascript" src="{% static "main.css" %}"></script>


    </body>
{% endblock %}