{% extends "sshock/page.html" %}
{% load i18n %}
{% load bootstrap4 %}


{% block content_title %}
{% endblock %}

{% block inner_content %}

          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">{% trans "Delete SSH-Publickey" %}</h4>
              </div>
              <div class="modal-body">
                <p>{% trans "Do you like Realy to delete this publickey?" %}</p>
              </div>
              <div class="modal-footer">
                <form method="POST" action="">
                    {% csrf_token %}
                    <a href="{% url "userarea:publickey:detail" object.pk %}" class="btn btn-default pull-left" data-dismiss="modal">{% trans "Cancle" context "SSH-PublicKey Delete Cancle button "%}</a>
                    <button type="submit" class="btn btn-danger">{% trans "Delete" context "KeyGroup delete Button" %}</button>
                </form>

              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->

{% endblock %}