{% extends "sshock/page.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% load partitialajax %}
{% load render_bundle from webpack_loader %}


{% block content_title %}
    <h1>{% trans "SSH - Public Keys" %}</h1>
{% endblock %}

{% block inner_content %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    {% trans "Public Key Informations" %}
                </div>
                <div class="card-body">
                    <b>{% trans "Fingerprint" %}</b>: <pre>{{ object.fingerprint }}</pre>
                    <b>{% trans "Publickey" %}</b>: <pre>{{ object.ssh_public_key }}</pre>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <form action="{% url "userarea:public_key:update" object.pk %}" method="POST">

                <div class="card">
                    <div class="card-header">
                        {% trans "Meta" %}
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
{{ form.errors }}
                        {% bootstrap_form_errors form %}

                        {% bootstrap_field form.name %}
                        {% direct_partitial "#publickey-create-device-field" %}
                        {% direct_partitial "#publickey-create-key-group-field" %}

                    </div>
                    <div class="card-footer">
                        <input type="submit" class="btn btn-primary" value="{% trans "Save changes" %}">

                    </div>

                </div>



            </form>
        </div>
    </div>
{% endblock %}



{% block body_inner %}
    {% render_bundle "userarea_publickey_update" "css" %}
    {{ block.super }}
    {% render_bundle "userarea_publickey_update" "js" %}
{% endblock %}