{% extends "sshock/page.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% load webpack_loader %}


{% block content_title %}
    <h1>{% trans "Create Key Group" %}</h1>
{% endblock %}

{% block body_inner %}
    {% render_bundle "userarea_keygroup_create" "css" %}
    {{ block.super }}
    {% render_bundle "userarea_keygroup_create" "js" %}
    {% include "sshock/components/modal/index.html" %}
{% endblock %}" %}

{% block inner_content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{% trans "Create KeyGroup" %}</h3>
                </div>

                <div class="card-body table-responsive no-padding">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {% bootstrap_form form %}

                        <input type="submit">

                    </form>
                </div>
                <!-- /.card-body -->
            </div>
        </div>


    </div>


{% endblock %}