{% extends "sshock/page.html" %}
{% load i18n %}
{% load webpack_loader %}
{% load partitialajax %}

{% block content_title %}
    <h1>{% trans "Keygroup List" %}</h1>
{% endblock %}

{% block body_inner %}
    {% render_bundle "userarea_keygroup_list" "css" %}
    {{ block.super }}
    {% render_bundle "userarea_keygroup_list" "js" %}
    {% include "sshock/components/modal/index.html" %}
{% endblock %}" %}

{% block inner_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    {% trans "Keygroup" %}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{% trans "Keygroup List" %}</h5>
                    <p class="card-text"></p>
                    <a href="{% url "userarea:keygroup:create" %}" id="keygroup-create-button" data-toggle="modal" data-target="#baseModal" data-partitial-url="{% url "userarea:keygroup:create" %}" class="btn btn-primary">{% trans "Hinzufügen" %}</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{% trans "Keygroup List" %}</h3>
                </div>
                <div class="card-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{% trans "Application" %}</th>
                                <th class="text-right">{% trans "Aktion" %}</th>
                            </tr>
                        </thead>
                        {% direct_partitial "tbody#keygroup-list-partitial" %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}