{% extends "sshock/page.html" %}
{% load i18n %}


{% block content_title %}
    <h1>{% trans "Device List" %}</h1>
{% endblock %}

{% block inner_content %}
    {% if perms.publish.add_oauth2integration %}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        {% trans "OAuth2 Apps" %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{% trans "Device List" %}</h5>
                        <p class="card-text">OAuth2 Application</p>
                        <a href="{% url "userarea:keygroup:create" %}" class="btn btn-primary">{% trans "Hinzufügen" %}</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{% trans "Device List" %}</h3>
                    </div>
                    <div class="card-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>{% trans "Application" %}</th>
                                    <th>{% trans "Aktion" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for oauth2integration in object_list %}
                                    <tr>
                                        <td>{{ oauth2integration.display_name }} - {{ oauth2integration.url }}</td>
                                        <td>

                                            <div class="btn-group btn-group-sm">
                                                <a href="{% url "publish:oauth2integration:delete" oauth2integration.pk %}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="2">
                                            {% trans "Keine OAuth2 Integrationen eingetragen" %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}