{% extends "sshock/page.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% load render_bundle from webpack_loader %}
{% load partitialajax %}

{% block content_title %}
    <h1>{% trans partitial_page.partitial_form_title %}</h1>
{% endblock %}

{% block inner_content %}
        <div class="modal-dialog" role="document">
            {% direct_partitial ".modal-content"  %}
        </div>
{% endblock %}

{% block body_inner %}
    {% render_bundle partitial_page.partitial_bundle_name "css" %}
    {{ block.super }}
    {% render_bundle partitial_page.partitial_bundle_name "js" %}
{% endblock %}