{% extends "sshmanager/page.html" %}
{% load i18n %}
{% load bootstrap4 %}


{% block content_title %}
    <h1>{{ object.name }}</h1>
{% endblock %}

{% block inner_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{% trans "Key Group" %}</h3>
                </div>
                <div class="card-body table-responsive no-padding">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ user_assign_form.errors }}
                        {% bootstrap_form user_assign_form %}
                        <input type="submit" name="key_group_assign">
                    </form>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
{% endblock %}