{% extends "sshock/page.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% load partitialajax %}
{% load webpack_loader %}

{% block content_title %}
{% endblock %}

{% block inner_content %}

          <div class="modal-dialog">
            {% direct_partitial ".modal-content" %}
          </div>
          <!-- /.modal-dialog -->

{% endblock %}


{% block body_inner %}
    {% render_bundle "superarea_publishgroup_delete" "css" %}
    {{ block.super }}
    {% render_bundle "superarea_publishgroup_delete" "js" %}
    {% include "sshock/components/modal/index.html" %}
{% endblock %}" %}