{% extends "sshock/page.html" %}
{% load i18n %}
{% load partitialajax %}
{% load webpack_loader %}

{% block content_title %}
    <h1>{% trans "Publishgroups" %}</h1>
{% endblock %}

{% block inner_content %}
    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    {% trans "Publish Group List" %}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{% trans "Publish Group Overview" %}</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="{% url "superarea:publishgroup:create" %}" data-toggle="modal" data-target="#baseModal" data-partitial-url="{% url "superarea:publishgroup:create" %}" class="btn btn-primary">{% trans "Hinzufügen" %}</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{% trans "Publish Group" %}</h3>
                </div>
                <div class="card-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{% trans "Gruppen Name" %}</th>
                                <th>{% trans "Aktion" %}</th>
                            </tr>
                        </thead>
                        {% direct_partitial "tbody#publishgroup-partitial" %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block body_inner %}
    {% render_bundle "superarea_publishgroup_list" "css" %}
    {{ block.super }}
    {% render_bundle "superarea_publishgroup_list" "js" %}
    {% include "sshock/components/modal/index.html" %}
{% endblock %}" %}