{% extends "sshmanager/page.html" %}
{% load i18n %}
{% load bootstrap4 %}


{% block content_title %}
{% endblock %}

{% block inner_content %}

          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">{% trans "Delete Key-Group" %}</h4>
              </div>
              <div class="modal-body">
                <p>{% trans "Do you like Realy to delete this keygroup?" %}</p>
                <p>{% trans "Name:" %} {{ object.display_name }}({{ object.name }})</p>
                  <p>
                    {% if object.sshpublickeytokeygroup_set.all|length > 0 %}
                        {% trans "The following Keys are assigned to this group" %}

                        {% for item in object.sshpublickeytokeygroup_set.all %}
                            {{ item.ssh_public_key.name }}

                        {% endfor %}
                    {% endif %}

                  </p>
              </div>
              <div class="modal-footer">
                <form method="POST" action="{% url "account:device-and-keygroup:keygroup:delete" object.pk %}">
                    {% csrf_token %}

                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">{% trans "Cancle" context "KeyGroup Delete Cancle button "%}</button>
                    <button type="submit" class="btn btn-danger">{% trans "Delete" context "KeyGroup delete Button" %}</button>
                </form>

              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->

{% endblock %}