{% extends "sshock/page.html" %}
{% load i18n %}


{% block content_title %}
    <h1>{% trans "SSH - Public Keys" %}</h1>
{% endblock %}


{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">Public SSH-Key</li>
{% endblock %}

{% block inner_content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{% trans "SSH Public Keys" %}</h5>
                    <p class="card-text">
                        {% blocktrans %}
                            Erstellen und verwalten Sie hier ihre eigenen SSH Keys
                            Diese Keys können Sie Geräten und KeyGrouppen zuweisen um sie besser auf die
                            erforderlichen Geräte und Applikationen zu verteilen.
                        {% endblocktrans %}
                    </p>
                    <a href="{% url "account:sshpublickey:create" %}" class="btn btn-primary">{% trans "Hinzufügen" %}</a>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{% trans "SSH Public Key Liste" context "Publish SSH-Key Liste Headline" %}</h3>
                </div>

                <div class="card-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Device</th>
                                <th>Group</th>
                                <th>Name</th>
                                <th>Fingerpint</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key in object_list %}
                                <tr>
                                    <td>{{ key.pk }}</td>
                                    <td>{{ key.device.display_name }}</td>
                                    <td>-/-</td>
                                    <td>{{ key.name }}</td>
                                    <td><code>{{ key.fingerprint }}</code></td>
                                    <td>
                                        <div class="btn-group btn-group-sm">
                                            <a href="{% url "account:sshpublickey:detail" key.pk %}" class="btn btn-info"><i class="fas fa-eye"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="5" class="text-center">
                                        {% trans "SSH-Public Keylist is Empty" %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>


    </div>


{% endblock %}